---
import Layout from '../layouts/Layout.astro';
// import ImagesGrid from '../components/ImagesGrid.astro';
---

<Layout
  title="Sobre la asociación - Calendario solidario Espargats 2026"
  description="Nuestra misión es defender, proteger y ayudar a los gatos abandonados o maltratados, con el propósito de ofrecerles una vida digna y encontrarles un hogar donde puedan ser felices."
>
  <section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg">
        <h1 class="mb-4 text-4xl tracking-tight font-bold text-gray-900">
          Sobre la asociación
        </h1>
        <p class="mb-4 font-medium">
          Nuestra misión es defender, proteger y ayudar a los gatos abandonados
          o maltratados, con el propósito de ofrecerles una vida digna y
          encontrarles un hogar donde puedan ser felices.
        </p>
        <p class="mb-4 font-light">
          Espargats arranca su proyecto en Esparreguera (municipio a 30km de
          Barcelona) en 2019, cuando un pequeño grupo de voluntarios y
          voluntarias se reúne para unificar fuerzas ante la necesidad de
          controlar las colonias callejeras felinas de nuestra ciudad, y
          procurar la mejora de las condiciones de vida de estos animales.
        </p>
        <!-- <ImagesGrid /> -->
        <p class="mb-4 font-light">
          Lo que inicialmente fue un proyecto CES (Capturar-Esterilizar-Soltar),
          pronto pasó a ser un proyecto mucho más global, ya que fuimos
          encontrando muchos casos de gatos enfermos, malheridos o camadas
          desprotegidas que no podíamos dejar pasar por alto. A partir de ese
          momento, y con todas las consecuencias, nos lanzamos a cubrir muchas
          otras necesidades de las colonias. Pese a tener poco apoyo económico,
          no nos faltan ganas, empatía y sentimiento hacia los gatos de nuestra
          población, ¡y esa es nuestra motivación diaria!
        </p>
        <p class="mb-4 font-light">
          Nuestro lema es <strong>¡Adoptar salva vidas!</strong>, por eso las
          donaciones van íntegramente a gastos de la asociación. ¡Cada patita es
          un gran paso!
        </p>
        <a
          href="https://www.teaming.net/espargats"
          class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800"
        >
          ¡Colabora en nuestro teaming!
          <svg
            class="ml-1 w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path></svg
          >
        </a>
      </div>
    </div>
  </section>
</Layout>
