<section class="bg-white ">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Sobre el proyecto del calendario</h2>
          <p class="mb-4">Este es el cuarto año que lanzamos este proyecto. Cada año, más personas se han sumado y han colaborado comprándolo, ayudándonos así a hacer frente a los gastos veterinarios y de alimentación de los gatos.</p>
          <p class="mb-4">Somos una pequeña asociación de gatos de Esparreguera (municipio a 30km de Barcelona). Y nuestra existencia es posible gracias a voluntarios y voluntarias; que nos donan su tiempo; y a personas comprometidas como tú, que colaboran con nosotros haciendo donaciones económicas o de alimentación.</p>
          <a href="#" class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700 mb-4">
            Conócenos más
            <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
          <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
          <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
      </div>
  </div>
</section>