---
import { Image } from 'astro:assets';
import featuresImage from '../assets/nube.webp';
---

<section class="bg-white">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 order-2">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
        Un calendario muy especial
      </h2>
      <p class="sm:text-xl pb-8 border-b border-gray-300">
        Este calendario es muy importante para Espargats porque lo hacemos entre
        todos y todas.
      </p>
      <div class="sm:text-lg pt-8">
        <div class="flex gap-x-2">
          <div
            class="bg-primary-200 text-primary-600 rounded-full items-center justify-center flex p-1 h-8 w-8"
          >
            <svg
              class="text-current"
              aria-hidden="true"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="2"
                d="M16 19h4a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-2m-2.236-4a3 3 0 1 0 0-4M3 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              ></path>
            </svg>
          </div>
          <p>
            Un equipo de voluntarias se encarga de organizar y poner en común a
            muchas personas para que el calendario pueda salir adelante.
          </p>
        </div>
      </div>
      <div class="sm:text-lg pt-8">
        <div class="flex gap-x-2">
          <div
            class="bg-primary-200 text-primary-600 rounded-full items-center justify-center flex p-1 h-8 w-8"
          >
            <svg
              class="text-current"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 18V8a1 1 0 0 1 1-1h1.5l1.707-1.707A1 1 0 0 1 8.914 5h6.172a1 1 0 0 1 .707.293L17.5 7H19a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Z"
              ></path>
              <path
                stroke="currentColor"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
            </svg>
          </div>
          <p>
            Cada año, el calendario se compone de fotografías de gatos que han
            pasado por Espargats: gatos felices en el Refugio, gatos que
            llegaron bebés y consiguieron un hogar, gatos que pasaron años en
            una casa de acogida hasta irse adoptados, gatos que llegaron muy
            enfermos y que no lo consiguieron, gatos ya adoptados... todos ellos
            tienen una historia y todos son especiales.
          </p>
        </div>
      </div>
      <div class="sm:text-lg pt-8">
        <div class="flex gap-x-2">
          <div
            class="bg-primary-200 text-primary-600 rounded-full items-center justify-center flex p-1 h-8 w-8"
          >
            <svg
              class="text-current"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 7h.01m3.486 1.513h.01m-6.978 0h.01M6.99 12H7m9 4h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 3.043 12.89 9.1 9.1 0 0 0 8.2 20.1a8.62 8.62 0 0 0 3.769.9 2.013 2.013 0 0 0 2.03-2v-.857A2.036 2.036 0 0 1 16 16Z"
              ></path>
            </svg>
          </div>
          <p>
            El año pasado, dos ilustradoras colaboraron y donaron su arte. Ellas
            son Seda Hako, autora de la portada, contraportada y 4 ilustraciones
            internas; y Nuria Fandós, encargada de maquetar el calendario y
            conseguir que todos los meses quedaran increíbles con las
            ilustraciones, fotografías de los gatos, diseño...
          </p>
        </div>
      </div>
      <div class="sm:text-lg pt-8 mb-8">
        <div class="flex gap-x-2">
          <div
            class="bg-primary-200 text-primary-600 rounded-full items-center justify-center flex p-1 h-8 w-8"
          >
            <svg
              class="text-current"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 12c.263 0 .524-.06.767-.175a2 2 0 0 0 .65-.491c.186-.21.333-.46.433-.734.1-.274.15-.568.15-.864a2.4 2.4 0 0 0 .586 1.591c.375.422.884.659 1.414.659.53 0 1.04-.237 1.414-.659A2.4 2.4 0 0 0 12 9.736a2.4 2.4 0 0 0 .586 1.591c.375.422.884.659 1.414.659.53 0 1.04-.237 1.414-.659A2.4 2.4 0 0 0 16 9.736c0 .295.052.588.152.861s.248.521.434.73a2 2 0 0 0 .649.488 1.809 1.809 0 0 0 1.53 0 2.03 2.03 0 0 0 .65-.488c.185-.209.332-.457.433-.73.1-.273.152-.566.152-.861 0-.974-1.108-3.85-1.618-5.121A.983.983 0 0 0 17.466 4H6.456a.986.986 0 0 0-.93.645C5.045 5.962 4 8.905 4 9.736c.023.59.241 1.148.611 1.567.37.418.865.667 1.389.697Zm0 0c.328 0 .651-.091.94-.266A2.1 2.1 0 0 0 7.66 11h.681a2.1 2.1 0 0 0 .718.734c.29.175.613.266.942.266.328 0 .651-.091.94-.266.29-.174.537-.427.719-.734h.681a2.1 2.1 0 0 0 .719.734c.289.175.612.266.94.266.329 0 .652-.091.942-.266.29-.174.536-.427.718-.734h.681c.183.307.43.56.719.734.29.174.613.266.941.266a1.819 1.819 0 0 0 1.06-.351M6 12a1.766 1.766 0 0 1-1.163-.476M5 12v7a1 1 0 0 0 1 1h2v-5h3v5h7a1 1 0 0 0 1-1v-7m-5 3v2h2v-2h-2Z"
              ></path>
            </svg>
          </div>
          <p>
            En 2023 contamos con 12 patrocinadores que nos hicieron más fácil
            sacar adelante el proyecto. En 2024, fueron 21 los que estuvieron a
            nuestro lado. Este año, esperamos contar con muchas más personas
            comprometidas
          </p>
        </div>
      </div>
      <div class="w-full flex justify-center mb-4 lg:mb-0">
        <a
          href="https://forms.gle/sFBSZD1qyK3EDnHM9"
          class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300"
        >
          ¡Quiero mi calendario!
          <svg
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </a>
      </div>
    </div>
    <div class="order-1 py-4">
      <Image
        src={featuresImage}
        alt="Un calendario muy especial"
        class="w-full rounded-lg shadow-md"
      />
    </div>
  </div>
</section>
