---

---

<section class="bg-white scroll-mt-14" id="gallery-section">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
        Imágenes del calendario
      </h2>
      <p class="text-gray-500 sm:text-xl">
        Así de bien se ve nuestro calendario.
      </p>
    </div>
    <section class="mb-8">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="col-span-2 rounded">
          <img
            src="/calendar-gallery/carousel-01.avif"
            alt=""
            loading="lazy"
            class="max-w-full rounded h-full object-cover aspect-[16/8]"
          />
        </div>
        <div class="rounded">
          <img
            src="/calendar-gallery/carousel-02.avif"
            alt=""
            loading="lazy"
            class="rounded h-full object-cover max-w-full aspect-square"
          />
        </div>
        <div class="rounded">
          <img
            src="/calendar-gallery/carousel-03.avif"
            alt=""
            loading="lazy"
            class="rounded h-full object-cover max-w-full aspect-square"
          />
        </div>
        <div class="rounded">
          <img
            src="/calendar-gallery/carousel-04.avif"
            alt=""
            loading="lazy"
            class="rounded h-full object-cover max-w-full"
          />
        </div>
        <div class="col-span-2 rounded order-last md:order-none">
          <img
            src="/calendar-gallery/carousel-05.avif"
            alt=""
            loading="lazy"
            class="rounded h-full object-cover max-w-full aspect-[16/8]"
          />
        </div>
        <div class="rounded">
          <img
            src="/calendar-gallery/carousel-06.avif"
            alt=""
            loading="lazy"
            class="rounded h-full object-cover max-w-full"
          />
        </div>
      </div>
    </section>
  </div>
</section>
