---
import { Image } from 'astro:assets';
import firstGoalImage from '../assets/olaf.webp';
import secondGoalImage from '../assets/bicho-raton.webp';
---

<section class="bg-white">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
        Súmate al proyecto y hazte con tu calendario solidario
      </h2>
      <p class="mb-4">La prereserva del calendario durará 32 días.</p>
      <p class="mb-4">
        Con esta preventa queremos tener una estimación de cuántos calendarios
        venderíamos, para minimizar costes de producción y así obtener mayores
        beneficios para nuestros gatos.
      </p>
      <p class="mb-4">
        El objetivo es recaudar un mínimo de 3000€ para lanzar el proyecto. Si
        llegamos a esa cantidad (o la superamos) podremos producir los
        calendarios y los beneficios irán directamente a los gatos de Espargats.
      </p>
      <a
        href="https://forms.gle/pYZ2ZpYAvPh2xMLM9"
        class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700 mb-4"
      >
        Reservar mi calendario
        <svg
          class="ml-1 w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path></svg
        >
      </a>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <Image
        src={firstGoalImage}
        alt="Olaf"
        class="w-full rounded-lg shadow-md"
      />
      <Image
        src={secondGoalImage}
        alt="Bicho y Ratón"
        class="w-full rounded-lg object-cover shadow-md"
      />
    </div>
  </div>
</section>
