---
import StoreSectionItem from './StoreSectionItem.astro';

const puntosVenta = [
  {
    nombre: 'Bon Granel',
    URL: 'https://g.co/kgs/psz5QNX',
    ciudad: 'Barcelona',
  },
  {
    nombre: 'BCN Retro Class',
    URL: 'https://g.co/kgs/dme6tia',
    ciudad: 'Esparreguera',
  },
  {
    nombre: 'Rosana Estética',
    URL: 'https://g.co/kgs/UddKFSY',
    ciudad: 'Abrera',
  },
  {
    nombre: 'Centre Veterinari Abrera',
    URL: 'https://share.google/8jlHfJTDNDLmu8Pqk',
    ciudad: 'Abrera',
  },
];

// const puntosBarcelona = [
//   {
//     nombre: 'Fimov Clínica de fisioterapia',
//     URL: 'https://g.co/kgs/jHyeQ2w',
//     ciudad: 'Barcelona',
//   },
// ];
// const puntosEsparreguera = [
//   {
//     nombre: 'Panadería Sopena',
//     URL: 'https://g.co/kgs/rZ6GyhG',
//     ciudad: 'Esparreguera',
//   },
//   {
//     nombre: 'The Green Dog',
//     URL: 'https://g.co/kgs/mGawohR',
//     ciudad: 'Esparreguera',
//   },
//   {
//     nombre: 'Wald Restaurant',
//     URL: 'https://g.co/kgs/7zn7C6i',
//     ciudad: 'Esparreguera',
//   },
//   {
//     nombre: "Activa't ECO",
//     URL: 'https://g.co/kgs/4dojx6k',
//     ciudad: 'Esparreguera',
//   },
//   {
//     nombre: 'Centre Blanch',
//     URL: 'https://g.co/kgs/oDiQkZo',
//     ciudad: 'Esparreguera',
//   },
// ];

// const puntosAbrera = [
//   {
//     nombre: 'Diamond Dogs Peluquería canina',
//     URL: 'https://maps.app.goo.gl/FHgDvbFygPP8ffGE8',
//     ciudad: 'Abrera',
//   },
//   {
//     nombre: 'La Figaflor Llibreria Espai cultural',
//     URL: 'https://g.co/kgs/z5JvYbm',
//     ciudad: 'Abrera',
//   },
// ];
---

<section class="bg-white scroll-mt-14" id="stores-section">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
        ¿Dónde puedo comprar el calendario?
      </h2>
      <p class="text-gray-500 sm:text-xl">
        El calendario no solo es ideal para ti, ¡también para regalar! Y cuántos
        más calendarios compres, más sorpresas te tenemos preparadas. Puedes
        pedir el calendario para que te llegue a tu casa (mediante este link) o
        pasar a comprarlo en cualquiera de nuestros negocios amigos:
      </p>
    </div>
    <section class="mb-8">
      <div
        class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-8"
      >
        {puntosVenta.map((punto) => <StoreSectionItem punto={punto} />)}
      </div>
    </section>
    <!-- <section class="mb-8">
      <p class="text-2xl font-bold mb-4">Esparreguera</p>
      <div
        class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-8"
      >
        {puntosEsparreguera.map((punto) => <StoreSectionItem punto={punto} />)}
      </div>
    </section>
    <section class="mb-8">
      <p class="text-2xl font-bold mb-4">Abrera</p>
      <div
        class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-8"
      >
        {puntosAbrera.map((punto) => <StoreSectionItem punto={punto} />)}
      </div>
    </section> -->
  </div>
</section>
