<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Timeline</h2>
    <ol class="relative border-s border-gray-200 max-w-xl mr-auto">                  
      <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400">Septiembre 2024</time>
          <h3 class="text-lg font-semibold text-gray-900 ">Inicio preventa</h3>
          <p class="mb-4 text-base font-normal text-gray-500 ">Arrancará el periodo para reservar los calendarios.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700   ">¡Quiero mi calendario! <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg></a>
      </li>
      <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400">Octubre 2024</time>
          <h3 class="text-lg font-semibold text-gray-900 ">Inicio producción</h3>
          <p class="text-base font-normal text-gray-500 ">Desde este momento mandaremos el diseño a la imprenta para que la producción llegue a tiempo. Enviaremos un formulario a todas las personas que reservaron para saber si quieren recogerlo presencialmente o prefieren un envío a domicilio. En ese caso, el precio será de 4€ extra por el envío</p>
      </li>
      <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400">Noviembre 2024</time>
          <h3 class="text-lg font-semibold text-gray-900 ">Inicio de los envíos</h3>
          <p class="text-base font-normal text-gray-500 ">También a los puntos de recogida para que podáis pasar a por vuestro ejemplar.</p>
      </li>
      <li class="ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400">Diciembre 2024</time>
          <h3 class="text-lg font-semibold text-gray-900 ">Llegada del calendario</h3>
          <p class="text-base font-normal text-gray-500 ">Aquellos que hayáis hecho un pedido con envío, recibiréis por fin vuestra copia del calendario.</p>
      </li>
    </ol>
      
  </div>
</section>

