<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
      Timeline
    </h2>
    <ol class="relative border-s border-primary-300 max-w-xl mr-auto">
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-primary-300 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-primary-400"
          >Agosto 2024</time
        >
        <h3 class="text-lg mb-1 font-semibold text-gray-900">
          Buscamos patrocinadores
        </h3>
        <p class="text-base font-normal text-gray-500 mb-4">
          Empezamos a contactar con pequeños negocios y emprendedores que
          quieran formar parte de este proyecto tan especial.
        </p>
        <a
          href="/sponsors"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-primary-500 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700"
          >Más información <svg
            class="w-3 h-3 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg></a
        >
      </li>
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-primary-300 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-primary-400"
          >Agosto 2024</time
        >
        <h3 class="text-lg mb-1 font-semibold text-gray-900">
          Comenzamos a reunir fotografías
        </h3>
        <p class="text-base font-normal text-gray-500 mb-2">
          Todos aquellos adoptantes de Espargats, así como las casas de acogida,
          ya pueden enviar fotos de sus gatos al mail <a
            href="mailto:calendarioespargats@gmail.com"
            class="text-primary-500 font-medium hover:text-primary-700"
            >calendarioespargats@gmail.com</a
          >
          Entre todas las fotos recibidas seleccionaremos las que formarán parte
          del calendario.
        </p>
        <p class="text-base font-normal text-gray-500">
          Nos encanta saber más sobre nuestros espargats así que no olvides
          añadir al mail el nombre actual de tu gato, el de acogida (si lo
          recuerdas) y contarnos cositas sobre él.
        </p>
      </li>
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-primary-300 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-primary-400"
          >Agosto 2024</time
        >
        <h3 class="text-lg mb-1 font-semibold text-gray-900">
          Inicio de reservas
        </h3>
        <p class="mb-4 text-base font-normal text-gray-500">
          Arrancará el periodo para reservar los calendarios. Será necesario
          proporcionar un email de contacto y un número de teléfono, pero <strong
            >aún no se requerirá ningún pago</strong
          >.
        </p>
        <a
          href="https://forms.gle/sFBSZD1qyK3EDnHM9"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-primary-500 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700"
          >¡Quiero mi calendario! <svg
            class="w-3 h-3 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg></a
        >
      </li>
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-primary-300 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-primary-400"
          >Octubre 2024</time
        >
        <h3 class="text-lg mb-1 font-semibold text-gray-900">
          Inicio producción
        </h3>
        <p class="text-base font-normal text-gray-500">
          Mandaremos el diseño final a la imprenta para asegurarnos tenerlo
          antes de que finalice el año.
        </p>
      </li>
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-primary-300 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-primary-400"
          >Noviembre 2024</time
        >
        <h3 class="text-lg mb-1 font-semibold text-gray-900">
          Inicio de los envíos
        </h3>
        <p class="text-base font-normal text-gray-500 mb-2">
          Iniciaremos el proceso de envío a domicilio y repartiremos calendarios
          por los diferentes negocios colaboradores, donde podréis adquirirlo
          presencialmente.
        </p>
        <p class="text-base font-normal text-gray-500">
          Facilitaremos la lista de negocios donde será posible recoger el
          calendario y realizar el pago en efectivo.
        </p>
      </li>
      <li class="ms-4">
        <div
          class="absolute w-3 h-3 bg-primary-300 rounded-full mt-1.5 -start-1.5 border border-white"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-primary-400"
          >Diciembre 2024</time
        >
        <h3 class="text-lg mb-1 font-semibold text-gray-900">
          Llegada del calendario
        </h3>
        <p class="text-base font-normal text-gray-500 mb-2">
          Aquellos que hayáis hecho un pedido con envío, recibiréis por fin
          vuestra copia del calendario. Vamos a trabajar duro para que todos los
          calendarios lleguen a casa antes de que acabe diciembre.
        </p>
        <p class="text-base font-normal text-gray-500">
          Si lo prefieres, podrás comprarlo directamente en nuestra parada
          solidaria de Santa Llúcia en Esparraguera.
        </p>
      </li>
    </ol>
  </div>
</section>
